<!-- films/templates/films/film_list.html -->
{% extends 'films/base.html' %}

{% block content %}
<a href="{% url 'film_create' %}" class="details-button"  target="_blank">Add Film</a>


<br>

<br>


    <h3>Filters:</h3>
     <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Apply Filters</button>
    </form>
<br>
<br>
            <h2>Film List</h2>

    {% for film in films %}

        <div class="film-item">
            <h3>{{ film.title }}</h3>
            <a href="{% url 'edit_film' film.id %}" class="edit_film">
                Edit
            </a>
            <a href="{% url 'delete_film' film.id %}" class="button_delete">
                Delete
            </a>

            <div class="film-detail-main-info">
            {% if film.poster %}
                <img src="{{ film.poster.url }}" alt="{{ film.title }} Poster" class="film-list-poster">
            {% endif %}
                <div class="film-detail-main-text">
            <p><strong>Release Date:</strong> {{ film.release_date }}</p>

            <p>{{ film.description|truncatewords:100}}</p>
                    </div>
            </div>

            <a href="{% url 'film_detail' film.id %}">
                <button type="button" class="details-button">View Details</button>
            </a>

        </div>
    {% endfor %}


{% endblock %}

